body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.box {
    display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
    display: -moz-box;      /* OLD: Firefox (buggy) */
    display: -ms-flexbox;   /* MID: IE 10 */
    display: -webkit-flex;  /* NEW, Chrome 21?28, Safari 6.1+ */
    display: flex;
    -ms-flex-flow: column;
    -webkit-flex-flow: column;
    flex-flow: column;
    height: 100%;
}

    .box .row {
        -ms-flex: 0 1 30px;
        -webkit-flex: 0 1 30px;
        flex: 0 1 30px;
        padding-top: 1px;
        padding-left: 5px;
        padding-right: 5px;
    }

        .box .row.header {
            -ms-flex: 0 1 auto;
            -webkit-flex: 0 1 auto;
            flex: 0 1 auto;
            background-color: #3D567C ;
            background-image: linear-gradient(to bottom, #3D567C 0px, #546F99 100%);
            background-repeat: repeat-x;
            color: white;
        }
        .box .row.header h1{
            text-align:center;
        }


        .box .row.content {
            height:80%; 
            -ms-flex: 1 1 auto;
            -webkit-flex: 1 1 auto;
            flex: 1 1 auto;
        }

        .box .row.footer {
            -ms-flex: 0 1 40px;
            -webkit-flex: 0 1 40px;
            flex: 0 1 40px;
        }

        .box .row.footer div{
            text-align:center;
        }


.MapWrapper {
    height: 100%;
}

#MyGoogleMapID {
    height: 100%;
    width: 100%;
}

#MyInfo {
}


.fill {
    height: 100%;
}

#controlUI {
    background-color: white;
    border: 2px solid #fff;
    border-radius: 3px;
    float: left;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    margin-bottom: 22px;
    margin-left: 5px;

}

#controlText {
    color: black;
    font-family: Arial,sans-serif;
    font-size: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;

}

#colorUI {
    border: 1px solid;
    cursor: pointer;
    text-align: center;
    width: 75px;
}

#colorText {
    color: black;
    font-family: Arial,sans-serif;
    font-size: 1.1em;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
.popover{
    max-width: 90% !important;
}
