doctype html
html
  head
    title ALD2 - HackSummit
    link(href="/stylesheets/bootstrap.min.css",rel="stylesheet")
    link(href="/stylesheets/bootstrap-theme.min.css",rel="stylesheet")
    link(href="/stylesheets/site.css",rel="stylesheet")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body(class="body")
    div(class="box container-fluid")
        div(class="row header")
            h1 England Immunisations and Vaccinations By CCG
        div(class="row content")
            div(class="content fill")
                div(class="row fill")
                    div(class="col-xs-12 fill")
                        block content
        div(class="row footer")
          div(id="MyInfo")
          div
            p ALD2 - HackSummit
    script(src="/javascripts/bootstrap.min.js")
    block scripts
    

