doctype html
html
  head
    title
    style.
        body, html{
            height:100%;
            width:100%;
            }
        .MapWrapper{
            width:70%;
            height:100%;
        }
        #MyGoogleMapID{
            height:100%;
            width:100%;
        }
        #MyInfo {
            width:20%;
            float:right;
        }

   body
        div(class="MapWrapper")
            div(id="MyGoogleMapID")
        div(id="MyInfo")
        script(src="/javascripts/MapRender.js")           
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTbkoShScdbiTv3Zi3PfepjMoMyFTzbeY&callback=initMap")
        div
            p hello world



