extends layout

block content
    div(class="row fill")
        div(class="col-xs-10 fill")
                div(class="row fill")
                    div(id="MyGoogleMapID")
        div(class="col-xs-2")
                div(class="row")
                    div(id="MyButtonsID")
                      input(type="button", ID="testButton1", value="Men C vac rates" class="btn" onClick="changeColor('mencColor')")                      
                      input(type="button", ID="testButton2", value="DTAP  vac rates" class="btn" onClick="changeColor('dtapColor')")                      
                      input(type="button", ID="testButton3", value="Hep B vac rates" class="btn" onClick="changeColor('hepbColor')")                      
                      input(type="button", ID="testButton4", value="PVC vac rates" class="btn" onClick="changeColor('pvcColor')")
                      input(type="button", ID="testButton5", value="Average vac rates" class="btn" onClick="changeColor('color')")

block scripts
    script(src="/javascripts/MapRender.js")          
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTbkoShScdbiTv3Zi3PfepjMoMyFTzbeY&callback=initMap")
       



